@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #86c840;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
body {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#footer-margin-fix {
  margin-left: -15px;
}
/* Backgrounds */
.graybg {
  background-color: #f7f7f7;
}
.darkbg {
  background: #222222;
}
/* Text Modifications */
.gray {
  color: #aaaaaa;
}
.bold {
  font-weight: 400;
}
/* Margin Bottom */
.mb {
  margin-bottom: 50px;
}
/* Input Styling */
input {
  padding-left: 10px;
  width: 250px;
  height: 35px;
  border: 1px solid #cccccc;
  border-radius: 1px;
  color: #222222;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
input:focus {
  outline: none;
}
/* The title for stuff (like Recent Work, Latest News, etc.) */
.title-box {
  margin-bottom: 40px;
  padding-left: 15px;
  border-left: 5px solid #86c840;
}
.title-box .title {
  text-transform: capitalize;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  line-height: 45px;
  font-weight: 400;
}
#title {
  text-transform: capitalize;
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 15px;
  font-weight: 400;
}
.header {
  margin-top: 32px;
}
ul.nav.nav-pills {
  margin-top: -5px;
}
ul.nav.nav-pills li a {
  padding-bottom: 10px;
  border-bottom: 4px solid white;
  background: none;
  color: #222222;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}
ul.nav.nav-pills li a:hover {
  border-bottom: 4px solid #86c840;
  border-radius: 0;
  background: none;
  color: #86c840;
}
ul.nav.nav-pills li.active a {
  color: #86c840;
  border-bottom: 4px solid #86c840;
  border-radius: 0;
  background: none;
}
.graybg.mb .container {
  padding: 70px 15px 70px 15px;
}
.graybg.mb .container .text.gray {
  margin-top: 20px;
  width: 395px;
}
.graybg.mb .container.quote-container {
  padding: 30px 15px 0 15px;
}
.banner-title {
  text-transform: capitalize;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  line-height: 45px;
}
.text {
  font-weight: 300;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.banner-img {
  position: relative;
  bottom: -40px;
}
.banner-img img {
  width: 450px;
  height: auto;
}
@media (max-width: 992px) {
  .banner-img {
    display: none;
  }
}
.sign-mail {
  margin-top: 30px;
}
.sign-mail div.text {
  margin-bottom: 10px;
}
.sign-mail button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color: #86c840;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 16px;
}
.portfolio-item-row img {
  border: 5px solid #f7f7f7;
  border-radius: 7px;
}
.portfolio-item-row .hover-box {
  position: absolute;
  bottom: 96px;
  left: 20px;
  width: 350px;
  height: 40px;
  background-color: #222222;
  opacity: 0;
  transition: 150ms all ease;
  color: white;
  font-size: 14px;
  padding: 11px 10px 0 10px;
}
.portfolio-item-row .hover-box .pull-right .fa-comments,
.portfolio-item-row .hover-box .pull-right .fa-download {
  margin-left: 10px;
}
.portfolio-item-row:hover .hover-box {
  opacity: 0.8;
}
.portfolio-item-row .item-box {
  margin: 15px 10px 0 10px;
}
.portfolio-item-row .item-box .item-name {
  font-family: 'Roboto Slab', serif;
}
.portfolio-item-row .item-box .category {
  color: #aaaaaa;
  font-weight: 300;
}
.portfolio-item-row .item-box .read-more {
  position: relative;
  bottom: 40px;
  padding-left: 11px;
  padding-top: 4px;
  font-size: 18px;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #86c840;
}
.quote-sign-l {
  top: -2px;
  position: relative;
  padding-left: 12px;
  padding-top: 6px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #86c840;
}
.quote-sign-r {
  top: -75px;
  position: relative;
  padding-left: 12px;
  padding-top: 8px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #86c840;
}
.quote {
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  max-width: 1050px;
  font-weight: 300;
}
.quote span {
  font-style: italic;
  color: #aaaaaa;
  font-weight: 300;
}
.article-preview {
  margin-bottom: 40px;
}
.article-preview .news-block .preview-header {
  margin-bottom: 20px;
}
.article-preview .news-block .preview-header .title {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
}
.article-preview .news-block .preview-header .meta {
  color: #86c840;
  font-weight: 300;
  font-style: italic;
}
.article-preview .news-block .preview-header .meta span {
  color: #aaaaaa;
}
.article-preview .news-block .preview-content .body {
  font-weight: 300;
  margin-bottom: 20px;
}
.article-preview .news-block .preview-content .read-more a {
  color: #222222;
}
.article-preview .news-block .preview-content .read-more a:hover {
  text-decoration: none;
  color: #86c840;
}
.article-preview .news-block .preview-content .read-more a img {
  position: relative;
  bottom: 2px;
}
.footer {
  font-weight: 300;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .widget-title {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 25px;
}
.footer .content-box {
  width: 385px;
}
.footer .content-box button {
  margin-top: 20px;
}
.footer #shop-now {
  color: white;
  width: 140px;
  height: 30px;
  background-color: #86c840;
  border-radius: 2px;
  border: 1px solid #86c840;
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.footer #shop-now:focus {
  outline: none;
}
.footer #shop-now .fa {
  padding-left: 5px;
  font-size: 16px;
}
.tweets #mb20px {
  margin-bottom: 20px;
}
.tweets div {
  margin-left: 30px;
}
.tweets div .fa {
  margin-left: -30px;
  margin-right: 15px;
}
.tweets div .time {
  font-size: 12px;
}
.copyright {
  margin-top: 30px;
}
.copyright .footer-menu li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}
.copyright .footer-menu li a {
  color: black;
  font-size: 13px;
}
.copyright .footer-menu li a:hover {
  color: #86c840;
  text-decoration: none;
}
.copyright .footer-social {
  position: relative;
  top: -8px;
  text-align: center;
}
.copyright .footer-social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 6px;
}
.copyright .footer-social li div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #222222;
  padding-left: 0;
  padding-top: 9px;
}
.copyright .footer-social li div i {
  color: white;
  font-size: 24px;
}
#copy {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}
.controls ul {
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 5px;
}
.controls ul li.main {
  font-weight: bold;
  color: #86c840;
}
.controls ul li {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  list-style-type: none;
  display: inline;
  padding-right: 50px;
}
.controls ul li:last-child {
  padding-right: 0;
}
.portfolio {
  margin-top: 30px;
}
#Grid .mix {
  opacity: 0;
  display: none;
}
#Grid {
  padding-left: 0;
}
#Grid li {
  list-style-type: none;
  display: inline;
  margin-right: 26px;
}
#Grid li:nth-child(3n+3) {
  margin-right: 0;
}
.item-divider {
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 40px;
}
.item-divider:last-child {
  border-bottom: 0;
}
.divider {
  margin-top: 15px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}
.feature-img {
  border: 4px solid #e7e7e7;
  border-radius: 3px;
  margin-bottom: 30px;
}
#cat .container {
  padding: 0 15px 0 15px;
}
.categories div {
  color: #777777;
  margin-top: 7px;
  float: left;
  margin-right: 10px;
}
.categories .breadcrumb {
  margin-bottom: 10px;
}
.categories ul {
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 0px;
}
.categories li.main {
  color: #86c840;
}
.categories li.main a:hover {
  color: #86c840;
  text-decoration: none;
}
.categories li {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  list-style-type: none;
  display: inline;
}
.download-button {
  width: 100%;
  height: 60px;
  background-color: #86c840;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #86c840;
  color: white;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.download-button i {
  margin-left: 5px;
  font-size: 22px;
  font-weight: 300;
}
.details-box {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #f7f7f7;
  margin-top: 25px;
}
.details-box #file-details {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 5px;
  padding: 10px 30px 0 30px;
}
.details-box .details {
  color: #777777;
  font-weight: 300;
  padding: 10px 30px;
}
.details-box .details i {
  margin-right: 10px;
  margin-bottom: 20px;
  color: #777777;
}
.socials {
  margin-bottom: 10px;
  border-top: 1px solid #e5e5e5;
  padding: 10px 30px 0 30px;
}
.socials .st-facebook-counter {
  background-image: url(../img/facebook.png) !important;
  width: 10px !important;
  height: 18px;
  padding-top: 1px !important;
  margin-right: 3px;
}
.socials .st-facebook-counter img {
  display: none;
}
.socials .st-twitter-counter {
  background-image: url(../img/twitter.png) !important;
  width: 20px !important;
  height: 16px;
  padding-top: 1px !important;
  margin-right: 3px;
}
.socials .st-twitter-counter img {
  display: none;
}
.socials .st-pinterest-counter {
  background-image: url(../img/pinterest.png) !important;
  width: 16px !important;
  height: 20px;
  padding-top: 1px !important;
  margin-right: 3px;
}
.socials .st-pinterest-counter img {
  display: none;
}
.socials .stButton_gradient {
  height: 21px !important;
  background: #777777 !important;
  border: 1px solid #777777 !important;
  color: white !important;
  padding: 2px 6px !important;
}
.socials .stArrow {
  background-image: url(../img/arrow.png) !important;
}
.avatar {
  margin-right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../img/profile1.png) no-repeat center center #f7f7f7;
  background-size: auto 70px;
}
