// Spinner

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @lime;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { transform: scale(0.0) }
  40% { transform: scale(1.0) }
}

// The Main Greenzone Less File

//           Table of Contents           //
// 1. Global styles
// 2. Header
// 3. Banner
// 3.1 Mail Sign Up
// 4. Portfolio, Recent Works
// 5. Testimonial
// 6. Latest News
// 7. Footer
// 8. Bottom footer/Copyright
// 9. Portfolio Filter



//Imports

@import url(variables.less);

//Globals

body {
    color: @gray-darker;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#footer-margin-fix {
    margin-left: -15px;
}

/* Backgrounds */

.graybg{
    background-color: @gray-lighter;
}

.darkbg{
    background: @gray-darker;
}

/* Text Modifications */

.gray {
    color: @gray;
}

.bold {
    font-weight: 400;
}

/* Margin Bottom */

.mb {
    margin-bottom: 50px;
}

/* Input Styling */

input {
    padding-left: 10px;
    width: 250px;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    color: @gray-darker;
    font-weight: 300;
    font-size: 15px;
    font-family: @roboto;
    &:focus {
        outline: none;
    }
}


/* The title for stuff (like Recent Work, Latest News, etc.) */

.title-box {
    margin-bottom: 40px;
    padding-left: 15px;
    border-left: 5px solid @lime;
    .title {
        text-transform: capitalize;
        font-size: 36px;
        font-family: @roboto-slab;
        line-height: 45px;
        font-weight: 400;
    }
}

#title {
    text-transform: capitalize;
    font-size: 32px;
    font-family: @roboto-slab;
    margin-bottom: 15px;
    font-weight: 400;
}

// Header

.header {
    margin-top: 32px;
}

ul.nav.nav-pills {
    margin-top: -5px;
    li {
        a {
            padding-bottom: 10px;
            border-bottom: 4px solid white;
            background: none;
            color: @gray-darker;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
            &:hover {
                border-bottom: 4px solid @lime;
                border-radius: 0;
                background: none;
                color:@lime;
            }
        }
    }
    li.active {
        a {
            color: @lime;
            border-bottom: 4px solid @lime;
            border-radius: 0;
            background: none;
        }
    }
}


// Banner

.graybg.mb {
    .container {
        padding: 70px 15px 70px 15px;
        .text.gray {
            margin-top: 20px;
            width: 395px;
        }
    }
    .container.quote-container {
        padding: 30px 15px 0 15px;
    }
}

.banner-title {
    text-transform: capitalize;
    font-size: 36px;
    font-family: @roboto-slab;
    line-height: 45px;
}

.text {
    font-weight: 300;
    font-size: 15px;
    font-family: @roboto;
}

.banner-img {
    position: relative;
    bottom: -40px;
    img {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 992px) {
    .banner-img{
        display: none;
    }
}

// Mail Sign Up

.sign-mail {
    margin-top: 30px;
    div.text {
        margin-bottom: 10px;
    }
    button {
        width: 100px;
        height: 35px;
        border: none;
        border-radius: 2px;
        background-color: @lime;
        color: white;
        text-shadow: @text-shadow;
        font-weight: 300;
        font-size: 16px;
    }
}

// Portfolio, Recent Works

.portfolio-item-row {
    img {
        border: 5px solid @gray-lighter;
        border-radius: 7px;
    }
    .hover-box {
        position: absolute;
        bottom: 96px;
        left: 20px;
        width: 350px;
        height: 40px;
        background-color: @gray-darker;
        opacity: 0;
        transition: 150ms all ease;
        color: white;
        font-size: 14px;
        padding: 11px 10px 0 10px;
        .pull-right {
            .fa-comments, .fa-download {
                margin-left: 10px;
            }
        }
    }
}
.portfolio-item-row {
    &:hover {
        .hover-box {
            opacity: 0.8;
        }
    }
    .item-box {
        margin: 15px 10px 0 10px;
        .item-name {
            font-family: @roboto-slab;
        }
        .category {
            color: @gray;
            font-weight: 300;
        }
        .read-more {
            position: relative;
            bottom: 40px;
            padding-left: 11px;
            padding-top: 4px;
            font-size: 18px;
            color: white;
            text-shadow: @text-shadow;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            background-color: @lime;
        }
    }
}

// Testimonial

.quote-sign-l {
    top: -2px;
    position: relative;
    padding-left: 12px;
    padding-top: 6px;
    font-size: 20px;
    color: white;
    text-shadow: @text-shadow;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: @lime;
}

.quote-sign-r{
    top: -75px;
    position: relative;
    padding-left: 12px;
    padding-top: 8px;
    font-size: 20px;
    color: white;
    text-shadow: @text-shadow;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: @lime;
}

.quote {
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
    max-width: 1050px;
    font-weight: 300;
    span{
        font-style: italic;
        color: @gray;
        font-weight: 300;
    }
}


// Latest News

.article-preview {
    margin-bottom: 40px;
    .news-block {
        .preview-header {
            margin-bottom: 20px;
            .title {
                font-family: @roboto-slab;
                font-size: 28px;
            }
            .meta {
                color: @lime;
                font-weight: 300;
                font-style: italic;
                span {
                    color: @gray;
                }
            }
        }
        .preview-content {
            .body {
                font-weight: 300;
                margin-bottom: 20px;
            }
            .read-more {
            a {
                    color: @gray-darker;
                    &:hover {
                        text-decoration: none;
                        color: @lime;
                    }
                    img {
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
        }
    }
}

// Footer

.footer {
    font-weight: 300;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    .widget-title {
        font-family: @roboto-slab;
        margin-bottom: 25px;
    }
    .content-box {
        width: 385px;
        button {
            margin-top: 20px;
        }
    }
    #shop-now {
        color: white;
        width: 140px;
        height: 30px;
        background-color: @lime;
        border-radius: 2px;
        border: 1px solid @lime;
        font-size: 14px;
        font-weight: 300;
        text-shadow: @text-shadow;
        &:focus {
            outline: none;
        }
        .fa {
            padding-left: 5px;
            font-size: 16px;
        }
    }
}

.tweets {
    #mb20px {
         margin-bottom: 20px;
    }
    div {
        margin-left: 30px;
        .fa {
            margin-left: -30px;
            margin-right: 15px;
        }
        .time {
            font-size: 12px;
        }
    }
}


// Bottom Footer/Copyright

.copyright {
    margin-top: 30px;
    .footer-menu {
        
        li {
            list-style-type: none;
            display: inline;
            margin-left: 20px;
            a {
                color: black;
                font-size: 13px;
                &:hover {
                    color: @lime;
                    text-decoration: none;
                }
            }
        }
    }
    .footer-social {
        position: relative;
        top: -8px;
        text-align: center;
        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 6px;
            div {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: @gray-darker;
                padding-left: 0;
                padding-top: 9px;
                i {
                    color: white;
                    font-size: 24px;
                }
            }
        }
    }
}

#copy {
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}


// Portfolio Filter

.controls {
    ul {
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 5px;
        li.main {
            font-weight: bold;
            color: @lime;
        }
        li {
            color: @gray-7;
            font-family: @roboto-slab;
            list-style-type: none;
            display: inline;
            padding-right: 50px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

// Portfolio

.portfolio {
    margin-top: 30px;
}

#Grid .mix{
    opacity: 0;
    display: none;
}
#Grid {
    padding-left: 0;
    li {
        list-style-type: none;
        display: inline;
        margin-right: 26px;
    }
}

#Grid li:nth-child(3n+3) {
    margin-right: 0;
}

// Blog page

.item-divider {
    border-bottom: 1px solid @gray-lighter;
    margin-bottom: 40px;
    &:last-child {
        border-bottom: 0;
    }
}
.divider {
    margin-top: 15px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 40px;
}

// Portfolio Single

.feature-img {
    border: 4px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 30px;
}

#cat .container {
    padding: 0 15px 0 15px;
}

.categories {
    div {
        color: @gray-7;
        margin-top: 7px;
        float: left;
        margin-right: 10px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    ul {
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 0px;
    }
    li.main {
        color: @lime;
        a:hover {
            color: @lime;
            text-decoration: none;
        }
    }
    li {
        color: @gray-7;
        font-family: @roboto-slab;
        list-style-type: none;
        display: inline;
    }
}

.download-button {
    width: 100%;
    height: 60px;
    background-color: @lime;
    text-align: center;
    border-radius: 3px;
    border: 1px solid @lime;
    color: white;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: @text-shadow;
    text-transform: uppercase;
    i {
        margin-left: 5px;
        font-size: 22px;
        font-weight: 300;
    }
}

.details-box {
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    background-color: @gray-lighter;
    margin-top: 25px;
    #file-details {
        font-family: @roboto-slab;
        margin-bottom: 5px;
        padding: 10px 30px 0 30px;
    }
    .details {
        color: @gray-7;
        font-weight: 300;
        padding: 10px 30px;
        i {
            margin-right: 10px;
            margin-bottom: 20px;
            color: @gray-7;
        }
    }
}

.socials {
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    padding: 10px 30px 0 30px;
    .st-facebook-counter {
        background-image: url(../img/facebook.png) !important;
        width: 10px !important;
        height: 18px;
        padding-top: 1px !important;
        margin-right: 3px;
        img {
            display: none;
        }
    }
    .st-twitter-counter {
        background-image: url(../img/twitter.png) !important;
        width: 20px !important;
        height: 16px;
        padding-top: 1px !important;
        margin-right: 3px;
        img {
            display: none;
        }
    }
    .st-pinterest-counter {
        background-image: url(../img/pinterest.png) !important;
        width: 16px !important;
        height: 20px;
        padding-top: 1px !important;
        margin-right: 3px;
        img {
            display: none;
        }
    }
    .stButton_gradient {
        height: 21px !important;
        background: @gray-7 !important;
        border: 1px solid @gray-7 !important;
        color: white !important;
        padding: 2px 6px !important;
    }
    .stArrow {
        background-image: url(../img/arrow.png) !important;
    }
}

// Comments section

.avatar {
    margin-right: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../img/profile1.png) no-repeat center center @gray-lighter;
    background-size: auto 70px;
}